/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.title-font {
    font-family: 'Bebas Neue', sans-serif;
}

.text-font {
    font-family: "Roboto", sans-serif;
}

.btn-warning a {
    color: black;
    text-decoration: none;
}

.btn {
    font-family: "roboto", sans-serif;
}

.color-span {
    color: #B91546;
}

#top-layer-services-heading,
#bottom-layer-services-heading,
#featured-product-item {
    text-align: center;
}

#top-layer-services-heading,
#bottom-layer-services-heading {
    color: #B91546;
}

#timetable-onclick-override:active,
#opening-onclick-override:active,
#membership-onclick-override:active,
#pt-onclick-override:active {
    background-color: #B91546 !important;
    color: #fff;
}

#our-services,
#contact-us {
    scroll-margin-top: 4rem;
}

#timetable,
#gallery {
    scroll-margin-top: 5rem;
}

#opening-times-container,
#membership-container,
#personal-trainers-section {
    scroll-margin-top: 7rem;
}

hr {
    color: black;
}

/* Navbar Styling - colors, sizes and hover effect */
#navbar-logo {
    width: 7.5rem;
    height: 3rem;
}

nav {
    background-color: #fff;
}

.nav-link {
    font-size: 1.25rem;
}

#nav-ul li a {
    color: #B91546;
}

.nav-link:hover {
    color: black;
}

nav {
    border-bottom: 1px solid black;
}

/* Hero Section Styling - Background image & overlay and text sizing */
#overlay-parent {
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#hero-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#hero-text-h1 {
    font-size: clamp(6rem, 10vw, 12rem);
    text-align: center;
    padding-top: 20vh;
}

/* "Who are we?" Section Styling - heading font size and spacing */
#our-services h2 {
    font-size: 4rem;
}

.bottom-layer-services h3 {
    margin-top: 1rem;
}

/* "COVID" Section Styling - icon styling and spacing, text styling and link hover effect */
.covid-icon i {
    font-size: 6rem;
    margin-bottom: 1.5rem;
    color: #B91546;
}

.covid-icon p {
    width: 65%;
    margin: 0 auto;
}

.covid-icon p a {
    color: #B91546;
    text-decoration: none;
}

.covid-icon p a:hover {
    color: black;
}

.covid-icon i {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* "Featured Product" Section Styling - heading and subheading font size */
#featured-product-heading {
    font-size: 4rem;
}

#featured-product-item {
    font-size: 3rem;
}

/* "Timetable" Section Styling - background image and overlay */
#timetable h2 {
    font-size: 4rem;
}

#bg-image-timetable {
    background: url(../images/kettlebell-class.jpg) no-repeat center center;
    background-size: cover;
}

#timetable-overlay {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin: 0;
}

/* "Gallery" Section Styling - heading font size */
#gallery h2 {
    font-size: 4rem;
}

/* "Contact Us" Section Styling - heading font size, map responsive sizing and contact form spacing  */
#contact-us h2 {
    font-size: 4rem;
}

iframe {
    width: 95%;
    height: 53%;
}

#query-type-label {
    margin-bottom: .5rem;
}

/* "Footer" Section Styling - social media link icon sizing, color and hover effect */
#socials {
    border-top: 1px solid black;
}

#socials a i {
    font-size: 2rem;
    padding-left: 1rem;
    color: #B91546;
}

#socials a i:hover {
    color: black;
}

/* Media Queries */
@media (orientation: landscape) {
    #navbar-logo {
        width: 5.8rem;
        height: 2rem;
    }

    #hero-text-h1 {
        padding-top: 12rem;
    }
}

@media (min-width: 391px) {
    #hero-text-h1 {
        padding-bottom: 30vh;
    }
}

@media (min-width: 576px) {
    #navbar-logo {
        width: 7.5rem;
        height: 4rem;
    }
}

@media (min-width: 705px) {
    #hero-text-h1 {
        padding-bottom: 40vh;
    }
}

@media (min-width:768px) {
    #who-are-we-text {
        font-size: 1.25rem;
    }
}