/* General Styling */

.title-font {
    font-family: 'Bebas Neue', sans-serif;
}

/* Navbar Styling */

#navbar-logo {
    width: 180px;
    height: 80px;
}

nav {
    background-color: #fff;
}

.nav-link {
    font-size: 1.5rem;
}

#nav-ul li a {
    color: #B91546;
}

.nav-link:hover {
    font-size: 1.5rem;
    color: black;
}

.navbar-toggler-icon {}

/* Hero Section Styling */

#overlay-parent {
    background: url(/assets/images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#hero-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#hero-text-h1 {
    font-size: 4rem;
    text-align: center;
}

@media (min-width:768px) {
    #hero-text-h1 {
        font-size: 10rem;
    }
}

@media (max-width:768px) {
    #hero-text-h1 {
        font-size: 7rem;
    }
}

/* "Who are we?" Section Styling */

#our-services {}

#our-services h1 {
    font-size: 4rem;
}

#return-to-home-services {
    text-decoration: none;
    color: #fff;
}


/* "Featured Product" Section Styling */

#featured-product h1 {
    font-size: 4rem;
}

/* "Timetable" Section Styling */

#timetable h1 {
    font-size: 4rem;
}


/* "Contact Us" Section Styling */

#contact-us h1 {
    font-size: 4rem;
}

/* "Footer" Section Styling */

#socials a i {
    font-size: 2rem;
    padding-left: 1rem;
}

/* testing */

.top-layer-services {
    color: red;
}

.bottom-layer-services {
    color: purple;
}

#bg-image-timetable {

    background-color: red;
}