/* General Styling */

.title-font {
    font-family: 'Bebas Neue', sans-serif;
}

.text-font {
    font-family: "Roboto", sans-serif;
}

.btn-warning a {
    color: #fff;
    text-decoration: none;
}

/* Navbar Styling */

#navbar-logo {
    width: 180px;
    height: 80px;
}

nav {
    background-color: #fff;
}

.nav-link {
    font-size: 1.5rem;
}

#nav-ul li a {
    color: #B91546;
}

.nav-link:hover {
    font-size: 1.5rem;
    color: black;
}

.navbar-toggler-icon {}

/* Hero Section Styling */

#overlay-parent {
    background: url(/assets/images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#hero-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#hero-text-h1 {
    font-size: 4rem;
    text-align: center;
}

@media (min-width:768px) {
    #hero-text-h1 {
        font-size: 10rem;
    }
}

@media (max-width:768px) {
    #hero-text-h1 {
        font-size: 7rem;
    }
}

/* "Who are we?" Section Styling */

#our-services {}

#our-services h1 {
    font-size: 4rem;
}

.who-are-we-ul {
    list-style-type: none;
}

/* "Featured Product" Section Styling */

#featured-product h1 {
    font-size: 4rem;
}

/* "Timetable" Section Styling */

#timetable h1 {
    font-size: 4rem;
}

#bg-image-timetable {
    background: url(/assets/images/kettlebell-class.jpg) no-repeat center center;
    background-size: cover;
    height: 50vh;
}

#timetable-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

#timetable-overlay div {
    display: inline;
}

/* "Gallery" Section Styling */

#gallery h1 {
    font-size: 4rem;
}

/* "Contact Us" Section Styling */

#contact-us h1 {
    font-size: 4rem;
}

/* "Footer" Section Styling */

#socials {
    border-top: 1px solid black;
}

#socials a i {
    font-size: 2rem;
    padding-left: 1rem;
    color: #B91546;
}

/* testing */

.top-layer-services,
.bottom-layer-services {
    color: #B91546;
}