/* General Styling */

.title-font {
    font-family: 'Bebas Neue', sans-serif;
}

.text-font {
    font-family: "Roboto", sans-serif;
}

.btn-warning a {
    color: black;
    text-decoration: none;
}

.btn {
    font-family: "roboto", sans-serif;
}

span {
    color: #B91546;
}

#top-layer-services-heading,
#bottom-layer-services-heading,
#featured-product-heading {
    text-align: center;
}


#top-layer-services-heading,
#bottom-layer-services-heading {
    color: #B91546;
}

#timetable-onclick-override:active,
#opening-onclick-override:active,
#membership-onclick-override:active,
#pt-onclick-override:active {
    background-color: #B91546 !important;
    color: #fff;
}

#our-services {
    scroll-margin-top: 70px;
}

#timetable,
#gallery {
    scroll-margin-top: 80px;
}

#opening-times-container,
#membership-container,
#personal-trainers-section {
    scroll-margin-top: 110px;
}

hr {
    color: black;
}

/* Navbar Styling */

#navbar-logo {
    width: 180px;
    height: 80px;
}

nav {
    background-color: #fff;
}

.nav-link {
    font-size: 1.5rem;
}

#nav-ul li a {
    color: #B91546;
}

.nav-link:hover {
    font-size: 1.5rem;
    color: black;
}

nav {
    border-bottom: 1px solid black;
}

/* Hero Section Styling */

#overlay-parent {
    background: url(/assets/images/hero-image.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#hero-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

@media (min-width:768px) {
    #hero-text-h1 {
        font-size: 10rem;
        text-align: center;
    }
}

@media (max-width:768px) {
    #hero-text-h1 {
        font-size: 7rem;
        text-align: center;
    }
}

@media (max-width:768px) and (orientation: landscape) {
    #hero-text-h1 {
        padding-top: 30vh;
    }
}

/* "Who are we?" Section Styling */

#our-services h1 {
    font-size: 4rem;
}

@media (max-width:768px) {
    .bottom-layer-services h2 {
        margin-top: 1rem;
    }
}

@media (min-width:768px) {
    #who-are-we-text {
        font-size: 1.25rem;
    }
}

/* "COVID" Section Styling */

.covid-icon i {
    font-size: 100px;
    margin-bottom: 1.5rem;
    color: #B91546;
}

.covid-icon p {
    width: 65%;
    margin: 0 auto;
}

.covid-icon p a {
    color: #B91546;
    text-decoration: none;
}

.covid-icon p a:hover {
    color: black;
}

@media (max-width:768px) {
    .covid-icon i {
        margin-top: 1rem;
    }
}

@media (max-width:992px) {
    .covid-icon p {
        margin-bottom: 2rem;
    }
}

/* "Featured Product" Section Styling */

#featured-product h1 {
    font-size: 4rem;
}

#protein-bar-image {
    height: 500px;
    width: auto;
}

/* "Timetable" Section Styling */

#timetable h1 {
    font-size: 4rem;
}

#bg-image-timetable {
    background: url(/assets/images/kettlebell-class.jpg) no-repeat center center;
    background-size: cover;
}

#timetable-overlay {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin: 0;
}

/* "Gallery" Section Styling */

#gallery h1 {
    font-size: 4rem;
}

/* "Contact Us" Section Styling */

#contact-us h1 {
    font-size: 4rem;
}

/* "Footer" Section Styling */

#socials {
    border-top: 1px solid black;
}

#socials a i {
    font-size: 2rem;
    padding-left: 1rem;
    color: #B91546;
}

#socials a i:hover {
    color: black;
}

/* testing */